<a href="https://colab.research.google.com/github/emhamling/Hello-World/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Function 0: `load_data()`

This function loads the data file stations.csv as a DataFrame using Pandas, performs some data cleansing and returns the DataFrame. Exclude rows with LNG and HY fuel types, missing (NAN) year, and year 2022. Note that that this function should process the original data file as provided here and all data processing should happen inside this function

In [7]:
# Define load_data() below:

def load_data():
    df = pd.read_csv("stations.csv")
    df = df[(df['Fuel Type Code'] != 'LNG') & (df['Fuel Type Code'] != 'HY')]
    df = df.dropna(subset=['Year'])
    df = df[df['Year'] != 2022]
    return df
df = load_data()

In [8]:
# Load the data using load_data function
# The dataframe shouw contain 60349 rows and 20 columns if loaded correctly

data = load_data()
data

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Status Code,Groups With Access Code,NG Fill Type Code,Geocode Status,Latitude,Longitude,ID,Owner Type Code,Open Date,Country,Access Code,Facility Type,Year
0,CNG,Spire - Montgomery Operations Center,2951 Chestnut St,NaN,Montgomery,AL,36107,E,Private,B,200-9,32.367916,-86.267021,17,T,2010-12-01,US,private,STANDALONE_STATION,2010.0
1,CNG,PS Energy - Atlanta,340 Whitehall St,"From I-7585 N, exit 91 to Central Ave, left on...",Atlanta,GA,30303,E,Public - Card key at all times,Q,200-8,33.745843,-84.398837,42,P,1994-07-15,US,public,STANDALONE_STATION,1994.0
2,CNG,Metropolitan Atlanta Rapid Transit Authority,2424 Piedmont Rd NE,NaN,Atlanta,GA,30324,E,Private - Government only,Q,200-8,33.821911,-84.367461,45,LG,1996-12-15,US,private,FLEET_GARAGE,1996.0
3,CNG,United Parcel Service,270 Marvin Miller Dr,NaN,Atlanta,GA,30336,E,Private,B,200-9,33.760256,-84.543822,64,P,1997-01-01,US,private,STANDALONE_STATION,1997.0
4,CNG,Arkansas Oklahoma Gas Corp,2100 S Waldron Rd,NaN,Fort Smith,AR,72903,E,Public - Credit card at all times,Q,200-9,35.362213,-94.375338,73,T,1997-01-01,US,public,UTILITY,1997.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70065,ELEC,Bank of America - Private Bank,800 5th Ave,NaN,Seattle,WA,98104,E,Private,NaN,200-9,47.605230,-122.330590,223744,P,2020-08-02,US,private,BANK,2020.0
70170,ELEC,Elk Grove Unified School District,8421 Gerber Rd,NaN,Sacramento,CA,95828,E,Public - Credit card at all times,NaN,200-8,38.481852,-121.392865,223863,P,2019-05-14,US,public,SCHOOL,2019.0
70171,ELEC,Clean Energy - Los Angeles County Metropolitan...,450 W Griffith St,NaN,Gardena,CA,90745,E,Public,NaN,200-8,33.859264,-118.279901,223864,P,2017-10-13,US,public,FLEET_GARAGE,2017.0
70172,ELEC,Avista Coeur d'Alene,1735 N 15th St,NaN,Coeur d'Alene,ID,83814,E,Private,NaN,200-9,47.692163,-116.765812,223865,T,2019-08-13,US,private,UTILITY,2019.0
70173,ELEC,ReFuel Salt Lake City,250 N Apollo Rd,NaN,Salt Lake City,UT,84116,E,Public,NaN,200-9,40.773333,-112.026267,223866,P,2020-10-15,US,public,STANDALONE_STATION,2020.0

__Note:__ In the following functions, assume that df is similar to the dataframe loaded by `load_data()` but possibly contains a subset of its rows (e.g., filtered based on a condition __before__ the function call).

Implement the data analysis steps to produce the data required for plotting and visualize the results in each function. Do not hardcode the values for plotting. All values must come from appropriate dataframe methods applied on the provided dataframe `df` and should be generalizable to the cases beyond the given examples.

# Function 1: `plot_pie_by_column(df, column, title)`

This function receives a dataframe df (similar to the full dataframe but not necessarily the same), a column name and a title for the plot. It then counts the number of stations for each category in `df[column]` and produces a pie chart illustrating the distribution of these numbers.

## Function definition
Define the function below.

In [ ]:
# Define Function 1 below:
def plot_pie_by_column(df, column, title):
    counts = df[column].value_counts()
    plt.figure(figsize=(8,8))
    plt.title(title)
    counts.plot.pie(autopct='%1.2f%%')
    plt.ylabel('')
    plt.show()

## Plots based on Function 1

Produce the following plots using `plot_pie_by_column` defined above by passing appropriate dataframes, columns and titles.

In [ ]:
# Fuel type distribution across all stations:
plot_pie_by_column(df, 'Fuel Type Code', 'Fuel Type Distribution Across All Stations')

In [ ]:
# Fuel type distribution across stations in Iowa:
plot_pie_by_column(df[df['State'] == 'IA'], 'Fuel Type Code', 'Fuel Type Distribution in Iowa')

In [ ]:
# Distribution of stations by access code (public or private):
plot_pie_by_column(df[(df['Groups With Access Code'] == 'Private')|(df['Groups With Access Code'] == 'Public')], 'Groups With Access Code', 'Access Type Distribution')

# Function 2: `plot_station_counts(df, column, title, top_n = 10)`

This function receives a dataframe df (similar to the full dataframe but not necessarily the same), a column name and a title for the plot. It processes the data as in `plot_pie_by_column`, but instead of producing a pie chart, produces a bar plot illustrating the actual counts. The optional parameter `top_n` determines the maximum number of categories to display. Note that if there are fewer than `top_n` categories in `df[column]`, your function should display up to that many categories.

## Function definition
Define the function below.

In [ ]:
# Define Function 2 below:
def plot_station_counts(df, column, title, top_n = 10):
    counts = df[column].value_counts().nlargest(top_n)
    plt.figure(figsize=(10,8))
    counts.plot(kind = 'bar')
    plt.title(title)
    plt.xlabel(column)
    plt.ylabel('Number of Stations')
    plt.show()

## Plots based on Function 2

Produce the following plots using `plot_station_counts` defined above by passing appropriate dataframes, columns and titles.

In [ ]:
# Total number of fuel stations by US states (excluding California):
plot_station_counts(df[(df['State'] != 'CA')&(df['Country'] == 'US')], 'State', 'Total number of stations by US States')

In [ ]:
# Number of E85 stations per state/province (across US and Canada):
plot_station_counts(df[df['Fuel Type Code'] == 'E85'], 'State', 'Number of E85 stations by state/province')

In [ ]:
# Total number of fuel stations for each city in Iowa:
plot_station_counts(df[df['State'] == 'IA'], 'City', 'Total number of stations by city in Iowa')

In [ ]:
# Number of fuel stations by facility type:
plot_station_counts(df, 'Facility Type', 'Number of fuel stations by facility Type')

# Function 3: `plot_station_counts_per_year(df, title)`

This function receives a dataframe `df` (similar to the full dataframe but not necessarily the same) and a title for the plot. It then counts the total number of stations opened in each year in the provided `df` and produces a line plot.

## Function definition
Define the function below.

In [ ]:
# Define Function 3 below:
def plot_station_counts_per_year(df, title):
    ...

## Plots based on Function 3

Produce the following plot using `plot_station_counts_per_year` defined above by passing an appropriate dataframe and a title.

In [ ]:
# Total number of new fuel stations (across all fuel stations):

# Function 4: `plot_station_counts_per_year_fuel_type(df, title, fuel_types)`

This function is similar to `plot_station_counts_per_year` but instead of counting the total number of new stations per year, it counts the number of new stations per year for each fuel type given in the list `fuel_types`. It then produces a plot with a __separate line and legend__ for each fuel type.

## Function definition
Define the function below.

In [ ]:
# Define Function 4 below:
def plot_station_counts_per_year_fuel_type(df, title, fuel_types):
    ...

## Plots based on Function 4

Produce the following plots using `plot_station_counts_per_year_fuel_type` defined above by passing appropriate dataframes, titles and fuel types.

In [ ]:
# Number of new Electric & E85 fuel stations in Iowa:

In [ ]:
# Number of new Electric, Biodiesel and E85 fuel stations in Minnesota:

# Function 5: `plot_map_state(df, state_to_highlight)`

This function receives a dataframe `df` and a state/province code. It then produces a scatter plot of longitude and latitude illustrating the location of fuel stations on the map. Fuel stations are color coded by country (blue for the US and red for Canada). In addition, we wish to highlight a specific state/province using a different color (e.g., cyan).

__Note__: For simplicity, you may assume that `df` is the full dataset in the following two functions. You may need to adjust the axis limits to appropriate longitude and magnitude values so that your function displays only the part of the map displayed in the provided plot outputs.  

## Function definition
Define the function below.

In [ ]:
# Define Function 5 below:
def plot_map_state(df, state_to_highlight):
    ...

## Plots based on Function 5

Produce the following plots using `plot_map_state` defined above by passing appropriate dataframes and states.

In [ ]:
# Location of fuel stations on the map (highlighting Iowa):

In [ ]:
# Location of fuel stations on the map (highlighting Texas):

# Function 6: `plot_map_fueltypes(df, fueltype_colors)`

This function is similar to `plot_map_state` but instead of coloring the stations by country/state, it receives a dictionary with some fuel types as keys and their colors as values, and colors the stations accordingly. The stations whose fuel type is not in the keys of `fueltype_colors` are colored by gray.

## Function definition
Define the function below.

In [ ]:
# Define Function 6 below:
def plot_map_fueltypes(df, fueltype_colors):
    ...

## Plots based on Function 6

Produce the following plots using `plot_map_fueltypes` defined above by passing appropriate dataframes and dictionaries for fuel type colors.

In [ ]:
# Location of fuel stations on the map (highlighting E85 (cyan), BD (red) and CNG (yellow)):

In [ ]:
# Location of fuel stations on the map (highlighting Electric stations (cyan)):